{% load static %}
<link rel = "stylesheet" type = "text/css" href = "{% static 'polls/style.css' %}">

<div class = "question_field">
	<h1>Ultimas 5 questoes</h1>
{% if latest_question_list %}
	<ul>
	{% for question in latest_question_list %}
	<li><a href = "{% url 'polls:detail' question.id %}">{{ question.question_text }} </a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No polls are available.</p>
{% endif %}
</div>
