body {
	background: BlanchedAlmond url("images/background.gif") center no-repeat;
	color: white;
}

.question_field {
	margin: 0px auto;
	border: 2px solid black;
	border-radius: 20px;
	width: 50%;
	background: brown;
}

.question_field a {
	color: inherit;
	font-weight: bold;
}

.question_field h1 {
	color: inherit;
	font-weight: inherit;
	text-align: center;
	font-variant: small-caps;
}
